@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

body{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
    padding: 20px;
    margin: 0px;
}

.prvy-box{
    margin: 30px;
    border: 5px solid #3498db;
    padding: 20px;
}

.druhy-box{
    border: 3px dotted;
}

div{
    background-color: aquamarine;
}